training/.ipynb_checkpoints/
venv*
training/llama-recipes
training/__pycache__/
.ipynb_checkpoints/

*.log
training/logs/
training/wandb/
finetuned_model/
data_processing/synthetic_dataset/
trained_model/

mining/logs/
mining/screenshots/
mining/memory_captures/
mining/__pycache__/
mining/mining-venv/
mining/*_captures/
mining/*.log
.DS_Store