absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
autograd
autograd-gamma
babel
backoff
beautifulsoup4
bitsandbytes
black
bleach
boltons
bracex
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
click-option-group
codeshield
colorama
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distro
docker-pycreds
effdet
emoji
eval_type_backport
evaluate
exceptiongroup
executing
face
fastjsonschema
filelock
filetype
fire
flatbuffers
fonttools
formulaic
fqdn
frozenlist
fsspec
gitdb
GitPython
glom
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
inflate64
interface-meta
iopath
ipykernel
ipython
ipywidgets
ISLP
isoduration
jedi
Jinja2
joblib
json5
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
l0bnb
langdetect
layoutparser
lifelines
lightning-utilities
llama-recipes
llvmlite
loralib
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
multivolumefile
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-requests
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optimum
overrides
packaging
pandas
pandocfilters
parso
pathspec
patsy
pdf2image
pdfminer.six
pdfplumber
peewee
peft
pexpect
pi_heif
pikepdf
pillow
platformdirs
portalocker
progressbar2
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py7zr
pyarrow
pyasn1
pyasn1_modules
pybcj
pycocotools
pycparser
pycryptodomex
pydantic
pydantic_core
pygam
Pygments
pyparsing
pypdf
pypdfium2
pyppmd
python-dateutil
python-iso639
python-json-logger
python-magic
python-multipart
python-utils
pytorch-lightning
pytz
PyYAML
pyzmq
pyzstd
RapidFuzz
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rouge-score
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
semgrep
Send2Trash
sentence-transformers
sentencepiece
sentry-sdk
setproctitle
six
smmap
sniffio
soupsieve
stack-data
statsmodels
sympy
tabulate
termcolor
terminado
texttable
threadpoolctl
timm
tinycss2
tokenize_rt
tokenizers
tomli
torch
torchaudio
torchinfo
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
types-python-dateutil
typing-inspect
typing_extensions
tzdata
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uri-template
urllib3
wandb
wcmatch
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
wrapt
xxhash
yarl
zipp